__pycache__/
*.pyc
.env
.venv/
node_modules/
dist/
build/
.DS_Store

# Temporary plaintext Kubernetes secrets
*-secret-plain.yaml

# Sealed Secrets local files
sealed-secrets-cert.pem
gitops/secrets/backend-secret-plain.yaml
